.techfont{
    font-family:'PT Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bigbrand{
    font-size: 1.5em;
}

.centerstage{
    margin-left:auto;
    margin-right:auto;
}
.post{
    margin: 20px;
}

.postdate{
    text-align: center;
    font-size: 1em;
    color: gray;
}

.posttitle{
    font-family:'PT Sans', sans-serif;
    font-size: 3em;
    text-align: center;
}

.postcontent{
    font-family:'Lato', sans-serif;
    font-size: 1.5em;
}

.btn-comment{
    position: absolute;
    right: 0px;
}

.postsubheader{
    text-align: center;
    font-size: 1em;
    color: gray;
}